// Official EC colors
@import './fonts.scss';
@import './markdown.scss';
@import './angle.scss';

@import '~vuetify/src/styles/settings/_variables';

// Definiere Gradient
.ec-gradient,
.nuxt-progress:not(.nuxt-progress-failed) {
  background: var(--v-gradient-left-base) !important;
  background-image: linear-gradient(
    90deg,
    var(--v-gradient-left-base) 0%,
    var(--v-gradient-right-base) 100%
  ) !important;
}

.hexagon-shape {
  clip-path: polygon(50% 100%, 5% 75%, 5% 25%, 50% 0%, 95% 25%, 95% 75%);
}

.v-main,
footer {
  .container:not(.container--fluid):not(.container--wide) {
    @media #{map-get($display-breakpoints, 'lg-and-up')} {
      max-width: 1028px;
    }
  }
}


.v-application--is-ltr .v-window__next {
  right: 0;
}

.scroll-to-me {
  scroll-margin-top: 64px;
}