// Official EC colors
@import './fonts.scss';
@import './markdown.scss';
@import './angle.scss';

// Definiere Gradient
.ec-gradient {
  background: rgb(var(--v-theme-gradient-left)) !important;
  background-image: linear-gradient(
    90deg,
    rgb(var(--v-theme-gradient-left)) 0%,
    rgb(var(--v-theme-gradient-right)) 100%
  ) !important;
}

.hexagon-shape {
  clip-path: polygon(50% 100%, 5% 75%, 5% 25%, 50% 0%, 95% 25%, 95% 75%);
}

.v-main,
footer {
  .container:not(.container--fluid):not(.container--wide) {
    @media (min-width: 1280px) {
      max-width: 1028px;
    }
  }
}


.v-locale--is-ltr .v-window__next {
  right: 0;
}

.scroll-to-me {
  scroll-margin-top: 64px;
}