// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$color-pack: false;
$body-font-family: 'Montserrat';
// $heading-font-family: 'Montserrat-Bold' sans-serif;
$headings: (
  'h1': (
    'weight': bold,
  ),
  'h2': (
    'weight': bold,
  ),
  'h3': (
    'weight': bold,
  ),
  'h4': (
    'weight': bold,
  ),
  'h5': (
    'weight': bold,
  ),
);

.v-pagination {
  &__item,
  &__navigation {
    border-radius: 0 !important;
    box-shadow: none !important;
    border: thin solid rgba(0, 0, 0, 0.12);

    &:hover {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
    }
  }
}

.nuxt-content {
  @each $name, $style in $headings {
    #{$name} {
      @each $prop, $val in $style {
        $propname: if(
          $prop==weight,
          'font-weight',
          if($prop==size, 'font-size', $prop)
        );
        #{$propname}: #{$val};
      }
    }
  }
}
